{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row justify-content-right">
  <div class="col-md-8 p-5">
    <h1>Привет, я Демин Алексей</h1><br>
    <p>
      29 лет, занимаюсь ремонтом электроники. Увлекаюсь устройствани ЧПУ, 3Д моделированием
      и 3Д печатью, нравиться изобретать, пусть это и будет даже давно изобретено.
      В настоящее время учусь на бэкенд разработчика, занимаюсь спортом - регулярно хожу
      в спортзал и в бассейн. Без вредных привычек, хотя всё относительно.<br><br>
      Тут я размещу информацию о себе, используя свои умения верстать.
      Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
    </p>
  </div>
</div>
{% endblock %} 