{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
<h1>Вот что я умею</h1><br>
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-6">
    <p>
      Да о каких технологиях можно говорить при начальных навыках? Да и навыков то не особо много.
      В целом конечно на данном этапе хоть что-то да есть, если сравнивать относительно периода, 
      когда только знакомился с Django, но опять таки нету опыта в создании верстки, хоть HTML и CSS
      не являются такими заоблачными технологиями, к сожалению у меня в них мало опыта : (( <br><br>
      Справа фото кота который помогает мне разбираться в учёбе и в сложных моментах связанных с 
      программированием, именно кошак помогает с большей частью проблемных моментов. А ещё началась весна
      поэтому я плохо высыпаюсь из-за кошачьего ора по утрам. 
    </p>
  </article>
  <article class="col-12 col-md-3">
    <img src={% static 'img/kitty.jpg' %} width="400" height="300"
  </article>
</div>
{% endblock %} 